body {
  font-family: "Roboto", sans-serif;
}

.weather-forecast {
  max-width: 600px;
  margin: 30px auto;
}
.weather-card {
  padding: 20px;
  border: 1.5px solid rgb(161, 91, 227);
  border-width: 3px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(186, 190, 245) 0%,
    rgb(192, 192, 245) 33.1%,
    rgb(218, 203, 246) 90%
  );
}

ul {
  list-style: none;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

#dateDescription {
  padding: 0;
}
#temperature {
  font-size: 70px;
  text-align: right;
  font-weight: bold;
}

#temperature .units {
  font-size: 20px;
  top: -34px;
  position: relative;
}

#temperature .active {
  color: rgb(41, 40, 41);
  cursor: default;
}

#temperature .active:hover {
  text-decoration: none;
}

.container {
  padding: 100px;
}
.card {
  background-color: #e3f6f5;
}

h4 {
  font-style: italic;
}
h2 {
  font-weight: bold;
}
.fa-solid {
  font-size: 35px;
}
.fa-sun {
  color: rgb(173, 173, 36);
}
.fa-cloud-rain {
  color: blue;
}
#forecast {
  padding: 20px;
}
.forecast-day {
  font-size: 16px;
  opacity: 0.9;
}
.forecast-temps {
  font-size: 13px;
}
.min-temp {
  opacity: 0.4;
}
